blib*
Makefile
Makefile.old
Makefile.PL
Build
_build*
\.build*
pm_to_blib*
*.tar.gz
.lwpcookies
Math-Primality-*
cover_db
.gitignore
*core
*.bak
\.*sw[op]
tmp*
pod2htm*
foo*
tags
.DS_Store
.prove
xt/*.txt
META.yml
check_dist
MYMETA.*
MYMETA.yml
META.json
nytprof/
